/* @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #15155c;
  color: #fff;
  text-align: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  margin-left: 30px;
}
#search-item {
  min-width: 250px;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #95a59e;
  font-weight: 700;
}
#search-item:focus {
  color: #047483;
}
#submit {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  position: absolute;
}
#submit:hover {
  color: black;
}
.error {
  margin-left: 25px;
  color: #f71515;
  border-radius: 5px;
  /* background-color: rgba(218, 205, 205, 0.514); */
  visibility: hidden;
  /* transition: all 0.3s ease; */
  font-size: 20px;
}
.loader {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #00b4cc;
  transition: all 0.8s ease;
}
.data-container {
  display: flex;
  gap: 50px;
}
.primary-data {
  position: relative;
}
.primary-data,
.secondary-data {
  display: flex;
  flex-direction: column;
}
.city,
.country {
  position: absolute;
}
.city {
  top: 20px;
  right: 40px;
}
.country {
  top: 50px;
  right: 40px;
}
.temperature,
.humidity,
.wind-speed {
  display: flex;
  align-items: center;
}
.temperature img,
.humidity img,
.wind-speed img {
  max-width: 70px;
  max-height: 70px;
}
.weather-icon img {
  min-width: 300px;
}
.forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #151922;
}
.forecast-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border: 4px solid #ccc;
  box-shadow: inset 0 0 0 4px #eee;
  /* And so on and so forth, if you want border-ception */
  margin: 0 auto;
  position: relative;
  border-radius: 3em 3em;
}
.forecast-box img {
  min-height: 150px;
  min-width: 150px;
}

@media (max-width: 768px) {
  .data-container {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    gap: 10px;
  }
  .city {
    top: 10px;
    right: -10px;
  }
  .country {
    top: 40px;
    right: -10px;
  }
  .weather-icon img {
    max-width: 200px;
    max-height: 200px;
  }
  .secondary-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
  }
  .temperature img,
  .humidity img,
  .wind-speed img {
    max-width: 30px;
    max-height: 30px;
  }
}
