/* @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/background.png');
    /* background-color: #c9ced3; */
    font-family: 'Poppins',sans-serif;
    height: 100%;
}
* {
    box-sizing: border-box;
}
.main-container{
    display: flex;
    height: 100%;
}
.main-container > .form-container > h2 {
    color: white;
}
.form-container{
    display: flex;
    flex-direction: column;
    flex: 40%;
    align-items: center;
    justify-content: center;
}
form{
    margin-left: -50px;
    position: relative;
}
#search-item{
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #95a59e;
  font-weight: 700;
}
#search-item:focus{
    color: #047483;
}
#submit{
  cursor: pointer;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  position: absolute;
}
.error{
    margin-left: -20px;
    color:  #f71515;
    border-radius: 5px;
    background-color: rgba(218, 205, 205, 0.514);
    visibility: hidden;
    transition: all .8s ease;
    font-size: 20px;
}
.data-container{
    margin: 0 auto;
    display: flex;
    flex: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: rgb(15, 165, 165);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.data-container #weather-icon{
    width: 240px;
    height: 240px;
}
.data-contents {
    text-align: center;
    width: auto;
}
.data-contents p {
    background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(200, 200, 200, 0.6));
    border-radius: 25px;
    width: 200px;
    margin: 10px auto;

}
.data-contents p img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.data-contents > h1 > img {
    vertical-align: middle;
    transform: scale(1.5);
}

@media (max-width: 768px){
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        overflow: hidden;
    }
    .data-container{
        margin: -5px;
    }
}