html, body {
    margin: 0;
    padding: 0;
    background-color: #c9ced3;
}
* {
    box-sizing: border-box;
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.data-container > p > i {
    scale: 4;
}